@import url('https://fonts.googleapis.com/earlyaccess/notosanstc.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik:400,700&display=swap');

body, html {
    font-family: 'Roboto', 'Noto Sans TC', sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    min-width: 100%;
    max-width: 100%;
}

a {
    color: #005DDB;
    text-decoration: none;
}

div {
    -webkit-tap-highlight-color: transparent;
}

/* 狀態 */
.隱藏 {
    display: none !important;
}

/* 圖標 */

.這是什麼 {
    width: 18px;
    height: 18px;
    display: block;
    background: url('./src/ic_whatisthis.png');
    background-size: cover;
}

.尋找銷售點 {
    background: url('./src/ic_search.png');
}

.logo {
    background: url('./src/logo.png');
    background-size: cover;
}

.關於 {
    background: url('./src/ic_about.png');
}

.返回 {
    background: url('./src/ic_back.png');
}

.地址 {
    background: url('./src/ic_address.png');
}

.電話 {
    background: url('./src/ic_phoneNumber.png');
}

/* 文字 */
.小標題 {
    font-size: 14px;
    font-weight: 500;
    color: #808080;
}

.中標題 {
    font-size: 16px;
    font-weight: 600;
    color: #808080;
}

:root {
    --將售罄-標題: #C78329;
    --將售罄-次標題: #D2A567;
}

/* 元件 */

.卡片 {
    display: block;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 24px;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    transition: 0.15s;
}

.卡片:hover {
    transition: 0.15s;
    opacity: 0.7;
}

.卡片-數字欄位 {
    display: flex;
    align-items: baseline;
}

.卡片-數據_大 {
    font-size: 48px;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    display: inline-block;
    margin-right: 4px;
}

.卡片-數據_小 {
    font-size: 32px;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    display: inline-block;
    margin-right: 4px;
}

.卡片-數據_單位 {
    font-size: 13px;
    font-weight: 500;
}

.卡片-描述 {
    font-size: 14px;
}

.卡片-名稱 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 6px;
}

.卡片-地址 {
    font-size: 13px;
    height: 42px;
    overflow: hidden;
}

.卡片-充足{
    background: #EBF3FF;
}

.卡片-充足 .卡片-數據_大, .卡片-充足 .卡片-數據_小, .卡片-充足 .卡片-名稱 {
     color: #3B64CD;
}

.卡片-充足 .卡片-數據_單位, .卡片-充足 .卡片-地址, .卡片-充足 .小標題 {
    color: #8CA2D8;
}

.卡片-幾乎售罄{
    background: #FFF6E0;
}

.卡片-幾乎售罄 .卡片-數據_大, .卡片-幾乎售罄 .卡片-數據_小, .卡片-幾乎售罄 .卡片-名稱 {
     color: #C78329;
}

.卡片-幾乎售罄 .卡片-數據_單位, .卡片-幾乎售罄 .卡片-地址, .卡片-幾乎售罄 .小標題 {
    color: #D2A567;
}

.卡片-即將售罄{
    background: #FFE0E0;
}

.卡片-即將售罄 .卡片-數據_大, .卡片-即將售罄 .卡片-數據_小, .卡片-即將售罄 .卡片-名稱 {
    color: #C72929;
}

.卡片-即將售罄 .卡片-數據_單位, .卡片-即將售罄 .卡片-地址, .卡片-即將售罄 .小標題 {
    color: #D26767;
}

.卡片-售罄{
    background: #F9F9F9;
}

.卡片-售罄 .卡片-數據_大, .卡片-售罄 .卡片-數據_小, .卡片-售罄 .卡片-名稱 {
    color: #9F9F9F;
}

.卡片-售罄 .卡片-數據_單位, .卡片-售罄 .卡片-地址, .卡片-售罄 .小標題 {
    color: #B2B2B2;
}

.選單按鈕 {
    background: #F2F7FF;
    border-radius: 12px;
    padding: 20px 22px;
    box-sizing: border-box;
    color: #1A2D3E;
    display: flex;
    transition: 0.1s ease;
    cursor: pointer;
}

.選單按鈕:hover {
    background: #E4ECF7;
    transition: 0.1s ease;
/*     box-shadow: 0 11px 20px 0 rgba(194,212,223,0.50); */
}

.選單按鈕-圖標 {
    width: 26px;
    height: 26px;
    display: inline-block;
    margin-right: 16px;
    background-size: cover !important;
}

.下拉選單 {
    width: 100%;
    background: #ffffff;
    position: absolute;
    top: 0px;
    left: 0;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0 0 24px 0 rgba(217,217,217,0.50);
    border-radius: 12px;
    padding: 6px;
    height: 250px;
    overflow: scroll;
    z-index: 20000;
    box-sizing: border-box;
    padding-top: 7px;
}

.下拉選單::-webkit-scrollbar {
  display: none;
}

.下拉選單-選項_目前, .下拉選單-選項{
    /*! height: 400px !important; */
    line-height: 37px;
    padding: 0px 16px;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
    display: block;
}

.下拉選單-選項_目前 {
    background: #F2F7FF;
    color: #1A2D3E;
}

.下拉選單-選項 {
    color: #474747;
}

.下拉選單-選項:hover {
    background: #F3F3F3;
    color: #474747;
}

@keyframes 下拉選單_展開{
    from {
        height: 0;
        opacity: 0;
        visibility: hidden;
    }

    to {
        opacity: 1;
        visibility: visible;
        display: block !important;
    }
}

@keyframes 下拉選單_收起{
    from {
        opacity: 1;
        visibility: visible;
    }

    to {
        height: 0;
        opacity: 0;
        visibility: hidden;
        display: none !important;
    }
}

.下拉選單_收起 {
    animation-duration: 0.4s;
    animation-name: 下拉選單_收起;
    animation-fill-mode: forwards;
}

.下拉選單_展開 {
    animation-duration: 0.25s;
    animation-name: 下拉選單_展開;
    animation-fill-mode: forwards;
}

.下拉選單_預設 {
    display: none;
}

.載入中 {
    display: flex;
    width: 100%;
    height: 30px;
    margin: 16px 0px;
    justify-content: center;
}

.載入中:after {
    content: '';
    background: url('./src/ic_loading.gif');
    width: 30px;
    height: 30px;
    background-size: cover;
}

.空白畫面文字 {
    width: 100%;
    display: block;
    height: 52px;
    line-height: 52px;
    background: #F9F9F9;
    border-radius: 12px;
    color: #949494;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}

/* 地圖 */
#地圖容器 {
    width: 100%;
    height: 100%;
}

#地圖-控制 {
    z-index: 1000;
    position: fixed;
    right: 454px;
    bottom: 30px;
}

#地圖-控制-定位 {
    width: 64px;
    height: 64px;
    display: block;
    background: url('./src/ic_locate.png');
    border-radius: 12px;
    box-shadow: 0 2px 74px 0 rgba(0,0,0,0.13);
    margin-bottom: 16px;
    background-size: cover !important;
}

.地圖-控制-定位_啟用 {
    background: url('./src/ic_located.png') !important;
}

#地圖-控制-縮放 {
    width: 64px;
    height: 120px;
    background: #ffffff;
    display: block;
    border-radius: 12px;
    box-shadow: 0 2px 74px 0 rgba(0,0,0,0.13);
    padding: 8px;
    box-sizing: border-box;
}

#地圖-控制-縮放-放大 {
    width: 48px;
    height: 48px;
    display: block;
    background: url('./src/ic_zoomIn_normal.png');
    background-size: cover !important;
    transition: 0.1s ease;
    margin-bottom: 8px;
}

#地圖-控制-定位, #地圖-控制-縮放 {
    cursor: pointer;
}

#地圖-控制-縮放-放大:hover {
    opacity: 0.5;
    background: url('./src/ic_zoomIn_press.png');
}

#地圖-控制-縮放-放大:active {
    transition: 0.1s ease;
    opacity: 1;
    background: url('./src/ic_zoomIn_press.png');
}

#地圖-控制-縮放-縮小 {
    width: 48px;
    height: 48px;
    display: block;
    background: url('./src/ic_zoomOut_normal.png');
    background-size: cover !important;
    transition: 0.1s ease;
}

#地圖-控制-縮放-縮小:hover {
    opacity: 0.5;
    background: url('./src/ic_zoomOut_press.png');
}

#地圖-控制-縮放-縮小:active {
    transition: 0.1s ease;
    opacity: 1;
    background: url('./src/ic_zoomOut_press.png');
}

#地圖 {
    display: block;
    width: 100%;
    height: 100%;
}

/* ㄧㄡHOVERS */
#側邊欄-最近更新, .nav-圖標:hover {
   cursor: pointer;
   transition: 0.1s ease;
}

#側邊欄-最近更新:hover, .nav-圖標:hover {
   opacity: 0.7;
   transition: 0.1s ease;
}


/* 導覽列 */
nav {
    width: 100%;
    height: 32px;
    display: flex;
    margin-bottom: 24px;
    padding: 0px 30px;
    box-sizing: border-box;
    justify-content: space-between;
    /*margin-top: 30px;*/
}

.nav-左, .nav-右 {
    flex: 1;
    max-width:calc(50% - 6px)
}

.nav-右 {
    text-align: right;
}

.nav-左-logo {
    width: 120px;
    height: 32px;
    display: block;
}

.nav-左-返回 {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    transition: 0.1s ease;
}

.nav-左-返回:hover {
    opacity: 0.6;
    transition: 0.1s ease;
}

.nav-圖標 {
    width: 28px;
    height: 28px;
    display: inline-block;
    background-size: cover !important;
}

#nav-右-關於 {
    width: 28px;
}

.nav-右-最後更新 {
    display: inline-flex;
    height: 36px;
    padding: 0px 14px;
    background: #F5F5F5;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nav-右-最後更新:hover {
    opacity: 0.7;
}

.nav-右-最後更新-icon {
    width: 18px;
    height: 18px;
    background: url('./src/ic_lastUpdate.png');
    background-size: cover !important;
    margin-right: 6px;
}

#nav-右-最後更新-時間, #nav-右-最後更新-時間-檢視藥局 {
    font-size: 13px;
    color: #575757;
    margin-right: 6px;
}

.nav-標題 {
    margin-left: 12px;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
}

/* 側邊欄 */

#側邊欄 {
    z-index: 1000;
    position: fixed;
    display: block;
    height: auto;
    top: 30px;
    right: 30px;
    bottom: 0px;
    width: 396px;
    box-sizing: border-box;
    padding: 0px 0px 0px 0px;
    overflow: hidden;
    background: #FFFFFF;
    box-shadow: 0 2px 74px 0 rgba(0,0,0,0.13);
    border-radius: 24px 24px 0 0;
}

.側邊欄-頁面 {
    position: relative;
    height: 100%;
    width: 100%;
    bottom: 0px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

@keyframes 側邊欄-頁面_顯示{
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
        display: block !important;
    }
}

/*

太拖時間，不用

@keyframes 側邊欄-頁面_隱藏{
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        display: none !important;
    }
} */

.側邊欄-頁面_顯示 {
    animation-duration: 0.3s;
    animation-name: 側邊欄-頁面_顯示;
    animation-fill-mode: forwards;
}

.側邊欄-頁面_隱藏 {
   display: none;
}

/* 底部空間 */
.側邊欄-內容:after {
    content: '';
    height: 30px;
    width: 100%;
    display: block;
}

.側邊欄-內容{
    display: block;
    width: 100%;
    box-sizing: border-box;
    overflow: scroll;
    padding: 0px 30px 0px 30px;
}

.側邊欄-中標題 {
    margin-bottom: 16px;
}

#側邊欄-最近更新 {
    width: 100%;
    height: 36px;
    background: #F5F5F5;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    color: #575757;
    margin-bottom: 14px;
}

#側邊欄-最近更新 div {
    margin-right: 8px;
}

#側邊欄-區域狀況 {
    background: #005DDB;
    display: block;
    margin-bottom: 14px;
    cursor: inherit;
}

#側邊欄-區域狀況:hover {
    opacity: 1;
}

#側邊欄-區域狀況-標題 {
    color: #C5E1F5;
    font-weight: 600;
}

#側邊欄-區域狀況-內容 {
    display: flex;
    margin-top: 10px;
}

#側邊欄-區域狀況-內容-販售中藥局, #側邊欄-區域狀況-內容-剩餘口罩 {
    flex: 1;
}

.側邊欄-區域狀況-內容_主題-數據 {
    color: #FFFFFF;
}

.側邊欄-區域狀況-內容_主題-名稱 {
    color: #BFD6F5;
}

#側邊欄-尋找銷售點 {
    margin-bottom: 40px;
}

.側邊欄_區塊-卡片容器 {
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    line-break: unset;
}

#側邊欄-即將售罄, .側邊欄_區塊-卡片_剛售罄 {
    display: block;
    margin-bottom: 40px;
}

#側邊欄-即將售罄::-webkit-scrollbar{
    display: none;
}

.側邊欄-即將售罄-卡片, .側邊欄-剛售罄-卡片 {
    min-width: 154px;
    width: 154px;
    margin-right: 8px;
}

.側邊欄-剛售罄-卡片{
    background: #F9F9F9;
}

.側邊欄_區塊-卡片_剛售罄 .卡片-名稱 {
    color: #363636;
}

.側邊欄_區塊-卡片_剛售罄 .卡片-名稱 {
    color: #656565;
}

#側邊欄-過濾 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
}

#側邊欄-過濾-城市, #側邊欄-過濾-地區 {
    flex: 1;
    display: flex;
    background: #F2F7FF;
    color: #1A2D3E;
    max-width: calc(50% - 6px);
    height: 48px;
    font-size: 15px;
    padding: 0px 22px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border-radius: 12px;
    position: relative;
    cursor: pointer
}

#側邊欄-過濾-城市:hover, #側邊欄-過濾-地區:hover {
    background: #DFEDFF;
    transition: 0.1s ease;
}

.側邊欄-結果 {
    width: 100%;
    display: flex;
    align-content: center;
}

.側邊欄-結果-項目 {
    display: flex;
    height: 104px;
    width: 100%;
    align-items: center;
    background: #F9F9F9;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 14px;
    border-radius: 12px;
    opacity: 0.8;
    transition: 0.15s ease;
    cursor: pointer;
}

.側邊欄-結果-項目:hover {
    background: #F1F1F1;
    transition: 0.1s ease;
}

.側邊欄-結果-項目-計數 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 84px;
    height: 84px;
    border-radius: 12px;
    margin-right: 18px;
    min-width: 84px;
}

.側邊欄-結果-項目-計數-數據 {
    display: flex;
    align-items: baseline;
}

/*.側邊欄-結果-項目-計數-數據 .卡片-數據_大 {*/
/*    font-size: 32px;*/
/*}*/

/*.側邊欄-結果-項目-計數.卡片-充足 .卡片-數據_單位 {*/
/*    display: none;*/
/*}*/

.側邊欄-結果-項目-資訊 {

}

.側邊欄-結果-項目-資訊-名稱 {
    font-size: 19px;
    color: #000000;
    font-weight: 600;
}

.側邊欄-結果-項目-資訊-地址 {
    font-size: 13px;
    color: #656565;
}

#側邊欄-靜態地圖 {
    width: 100%;
    height: 200px;
    background: #E0F0FE;
    border-radius: 12px;
    margin-bottom: 14px;
}

#側邊欄-販售存量 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 14px;
}

#側邊欄-販售存量-成人, #側邊欄-販售存量-兒童 {
    width: calc(50% - 6px);
}

.側邊欄-販售存量_規格-數據 {
    display: flex;
    align-items: baseline;
}

#側邊欄-商家資訊 {
    background: #F9F9F9;
    box-sizing: border-box;
    border-radius: 12px;
    font-size: 14px;
    margin-bottom: 14px;
}

.商家資訊圖標 {
    width: 24px;
    height: 24px;
    display: block;
    margin-right: 18px;
    background-size: cover !important;
}

#側邊欄-商家資訊-地址, #側邊欄-商家資訊-電話 {
    height: auto;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 20px 22px;
}

#側邊欄-商家資訊-地址 {
    border-bottom: 1px solid #EDEDED;
}

#側邊欄-留言 {
    background: #F9F9F9;
    padding: 22px;
    box-sizing: border-box;
    border-radius: 12px;
    margin-bottom: 120px;
}


#側邊欄-檢視藥局-底部按鈕 {
    display: flex;
    width: 100%;
    position:  absolute;
    bottom: 0;
    left: 0;
    justify-content: center;
    padding-bottom: 30px;
}

.側邊欄-檢視藥局-底部按鈕-按鈕 {
    height: 60px;
    background: #006CFF;
    border-radius: 60px;
    box-shadow: 0 21px 27px -20px #006CFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 30px;
    margin-right: 16px;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 0 21px 27px -20px #006CFF, inset 0 1px 0 42px rgba(0,0,0,0);
    transition: 0.1s ease;
}

.側邊欄-檢視藥局-底部按鈕-按鈕:hover {
    color: #E8E8E8;
    box-shadow: 0 21px 27px -20px #006CFF, inset 0 1px 0 42px rgba(0,0,0,0.15);
    border-radius: 30px;
    transition: 0.1s ease;
}

#側邊欄-檢視藥局-底部按鈕-在地圖開啟 {

}

#側邊欄-檢視藥局-底部按鈕-分享 {
    background: url('./src/ic_share.png');
    background-size: 100%;
}

#分享視窗-分享-社群 {
    margin-bottom: 22px;
    display: flex;
    justify-content: center;
}

.分享-社群-icon {
    width: 46px;
    height: 46px;
    display: inline-block;
    margin-right: 20px;
    background-size: cover!important;
    transition: 0.1s ease;
    cursor: pointer;
}

.分享-社群-icon:hover {
    opacity: 0.7;
    transition: 0.1s ease;
}

.分享-社群-icon:last-child {
    margin-right: 0px;
}

#分享視窗-分享-社群-Facebook {
    background: url('./src/ic_facebook.png');
}

#分享視窗-分享-社群-Messenger {
    background: url('./src/ic_messenger.png');
}

#分享視窗-分享-社群-Twitter {
    background: url('./src/ic_twitter.png');
}

#分享視窗-分享-社群-LINE {
    background: url('./src/ic_LINE.png');
}

#分享視窗-分享-網址 {
    height: 58px;
    background: #F4F4F4;
    border-radius: 12px;
    display: flex;
    align-items: center;
    padding: 0px 22px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}

#分享視窗-分享-網址::after {
    content:'複製';
    position: absolute;
    right: 0px;
    font-size: 14px;
    background-image: linear-gradient(90deg, rgba(251,251,251,0.00) 0%, #F4F4F4 39%);
    color: #006CFF;
    width: 72px;
    text-align: right;
    cursor: pointer;
    padding-right: 22px;
}

#分享視窗-分享-網址-網址他自己 {
    font-size: 15px;
    border: none;
    background: none;
    width: 100%;
}

#側邊欄-關於標題 {
    height: 220px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#側邊欄-關於標題-logo {
    width: 120px;
    height: 32px;
    display: block;
    margin-bottom: 14px;
}

#側邊欄-關於標題-文字 {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    color: #006CFF;
}

.側邊欄-關於-人 {
    background: #F9F9F9;
    padding: 28px;
    border-radius: 12px;
    margin-bottom: 12px;
}

.側邊欄-關於-人-資訊-名字與專業 {
    flex: 1;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.側邊欄-關於-人-資訊 {
    display: flex;
    margin-bottom: 22px;
}

.側邊欄-關於-人-名字 {
    font-size: 24px;
    font-weight: 600;
}

.側邊欄-關於-人-專業 {
    color: #838383;
}

.側邊欄-關於-人-資訊-照片 {
    width: 72px;
    height: 73px;
    border-radius: 100%;
}

.側邊欄-關於-人-連結 {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.側邊欄-關於-人-連結-按鈕 {
    width: calc(50% - 6px);
    height: 42px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    background: #E0ECFF;
    transition: 0.1s;
}

.側邊欄-關於-人-連結-按鈕:hover {
    transition: 0.15s;
    opacity: 0.7;
}

#側邊欄-版權 {
    margin-top: 40px;
    font-size: 13px;
    text-align: center;
    color: #666666;
}

/*#彈出視窗 {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    !*! display: none; *!*/
/*    bottom: 0;*/
/*}*/

/*@keyframes 彈出視窗_顯示{*/
/*    from {*/
/*        opacity: 0;*/
/*        visibility: hidden;*/
/*        background: 00000000;*/
/*    }*/

/*    to {*/
/*        opacity: 1;*/
/*        visibility: visible;*/
/*        display: block !important;*/
/*        background: #00000040;*/
/*    }*/
/*}*/

/*@keyframes 彈出視窗_關閉{*/
/*    from {*/
/*        opacity: 1;*/
/*        visibility: visible;*/
/*        background: #00000040;*/
/*    }*/

/*    to {*/
/*        opacity: 0;*/
/*        visibility: hidden;*/
/*        display: none !important;*/
/*        background: 00000000;*/
/*    }*/
/*}*/

/*@keyframes 彈出視窗-視窗_顯示{*/
/*    from {*/
/*       bottom: -100vh*/
/*    }*/

/*    to {*/
/*       bottom: 0vh*/
/*    }*/
/*}*/

/*@keyframes 彈出視窗-視窗_關閉{*/
/*    from {*/
/*        bottom: 0vh*/
/*    }*/

/*    to {*/
/*        bottom: -100vh*/
/*    }*/
/*}*/

/*.彈出視窗_顯示 {*/
/*    z-index: 3000;*/
/*    animation-duration: 0.25s;*/
/*    animation-name: 彈出視窗_顯示;*/
/*    animation-fill-mode: forwards;*/
/*}*/

/*.彈出視窗_關閉 {*/
/*    animation-duration: 0.4s;*/
/*    animation-name: 彈出視窗_關閉;*/
/*    animation-fill-mode: forwards;*/
/*}*/

/*#彈出視窗-視窗 {*/
/*    width: 100%;*/
/*    height: auto;*/
/*    background: #ffffff;*/
/*    position: absolute;*/
/*    bottom: 0px;*/
/*    padding: 28px;*/
/*    box-sizing: border-box;*/
/*    border-radius: 24px 24px 0 0;*/
/*    !*! top: 0; *!*/
/*}*/

/*.彈出視窗_顯示 #彈出視窗-視窗{*/
/*    animation-duration: 0.25s;*/
/*    animation-name: 彈出視窗-視窗_顯示;*/
/*    animation-fill-mode: forwards;*/
/*}*/

/*.彈出視窗_關閉 #彈出視窗-視窗{*/
/*    animation-duration: 0.25s;*/
/*    animation-name: 彈出視窗-視窗_關閉;*/
/*    animation-fill-mode: forwards;*/
/*}*/

/*#彈出視窗-視窗-內容 {*/
/*    font-size: 15px;*/
/*    margin-bottom: 24px;*/
/*}*/

/*#彈出視窗-視窗-按鈕 {*/
/*    height: 42px;*/
/*    border-radius: 12px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    font-size: 14px;*/
/*    background: #E0ECFF;*/
/*    transition: 0.1s;*/
/*    color: #006CFF;*/
/*    cursor: pointer;*/
/*}*/

/*#彈出視窗-視窗-按鈕:hover {*/
/*    transition: 0.15s;*/
/*    opacity: 0.7;*/
/*}*/

#彈出視窗, #分享視窗 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /*! display: none; */
    bottom: 0;
}

@keyframes 彈出視窗_顯示{
    from {
        opacity: 0;
        visibility: hidden;
        background: 00000000;
    }

    to {
        opacity: 1;
        visibility: visible;
        display: block !important;
        background: #00000040;
    }
}

@keyframes 彈出視窗_關閉{
    from {
        opacity: 1;
        visibility: visible;
        background: #00000040;
    }

    to {
        opacity: 0;
        visibility: hidden;
        display: none !important;
        background: 00000000;
    }
}

@keyframes 彈出視窗-視窗_顯示{
    from {
        bottom: -100vh
    }

    to {
        bottom: 0vh
    }
}

@keyframes 彈出視窗-視窗_關閉{
    from {
        bottom: 0vh
    }

    to {
        bottom: -100vh
    }
}

.彈出視窗_顯示, .分享視窗_顯示 {
    z-index: 3000;
    animation-duration: 0.25s;
    animation-name: 彈出視窗_顯示;
    animation-fill-mode: forwards;
}

.彈出視窗_關閉, .分享視窗_關閉 {
    animation-duration: 0.4s;
    animation-name: 彈出視窗_關閉;
    animation-fill-mode: forwards;
}

#彈出視窗-視窗, #分享視窗-視窗 {
    width: 100%;
    height: auto;
    background: #ffffff;
    position: absolute;
    bottom: 0px;
    padding: 28px;
    box-sizing: border-box;
    border-radius: 24px 24px 0 0;
    /*! top: 0; */
}

.彈出視窗_顯示 #彈出視窗-視窗, .分享視窗_顯示 #分享視窗-視窗{
    animation-duration: 0.25s;
    animation-name: 彈出視窗-視窗_顯示;
    animation-fill-mode: forwards;
}

.彈出視窗_關閉 #彈出視窗-視窗, .分享視窗_關閉 #分享視窗-視窗{
    animation-duration: 0.25s;
    animation-name: 彈出視窗-視窗_關閉;
    animation-fill-mode: forwards;
}

#彈出視窗-視窗-內容, #分享視窗-視窗-內容 {
    font-size: 15px;
    margin-bottom: 24px;
}

#彈出視窗-視窗-按鈕, #分享視窗-視窗-按鈕 {
    height: 42px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    background: #E0ECFF;
    transition: 0.1s;
    color: #006CFF;
    cursor: pointer;
}

#彈出視窗-視窗-按鈕:hover, #分享視窗-視窗-按鈕:hover {
    transition: 0.15s;
    opacity: 0.7;
}

@media screen and (max-width: 800px) {
    html, body {
        overscroll-behavior-y: none;
        overflow: hidden;
    }

    #側邊欄 {
        position: fixed;
        height: 200px;
        right: 0px;
        bottom:0px;
        width: 100%;
        box-sizing: border-box;
        padding: 30px 0px 0px 0px;
        overflow: hidden;
        box-shadow: 0 2px 74px 0 rgba(0,0,0,0.13);
        border-radius: 24px 24px 0 0;
        flex-direction: column;
        top: unset;
        transition: 0.2s ease;
    }

    .側邊欄-內容{
        display: block;
        width: 100%;
        height: auto;
        box-sizing: border-box;
        overflow: scroll;
        padding: 0px 30px 0px 30px;
        flex: 1;
    }

    .側邊欄-行動版_展開 {
        transition: 0.2s ease;
        height: calc(100% - 30px) !important;
        bottom: 0 !important;
    }

    .側邊欄-行動版_關閉 {
        overflow: hidden !important;
    }

    #彈出視窗, #分享視窗、 {
        position: fixed;
    }
    
    nav {
        padding: 22px 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0px;
        width: 100%;
        height: unset;
    }
    
    #側邊欄 {
        padding-top: 0px;
    }
    
    .側邊欄-內容{
        padding: 0px 16px
    }
    
    #地圖-控制 {
        right: 22px;
        bottom: 200px;
    }
    
    #地圖-控制-縮放 {
        display: none;
    }
    
    #側邊欄-過濾 {
        flex-direction: column;
        width: 100%;
    }
    
    #側邊欄-過濾-城市, #側邊欄-過濾-地區 {
        max-width: 100% !important;
        padding: 13px 22px;
        margin-bottom: 14px;
    }
    
   .下拉選單 {
        position: fixed;
        bottom: 0px;
        top: unset;
        width: 100%;
        height: 35vh;
        box-shadow: 0 2px 0 2000px rgba(0,0,0,0.50);
    }
    
    .下拉選單-選項_目前, .下拉選單-選項{
        /*! height: 400px !important; */
        line-height: 50px;
        padding: 0px 16px;
        font-size: 15px;
        border-radius: 8px;
        cursor: pointer;
        display: block;
    }
}